.App {
  margin: 10px;
  text-align: center;
}


.name-p{
  display: flex;
  justify-content: space-around;
  margin-top:10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.459);

}

.header-p{
  display: flex;
  justify-content: space-around;
  margin-top:10px;
  background-color: rgb(222, 224, 224);
}